<ng-container *transloco="let t">
    <div class="flex flex-col flex-auto w-full bg-slate-50">
        <ng-container *ngFor="let block of t('pages.Home')">
            <ng-container *ngIf="block.size === 'main'">
                <div
                    [ngStyle]="{
                        'background-image': getImage(block.background)
                    }"
                    class="absolute h-screen w-full bg-left bg-cover brightness-50"
                ></div>
                <div
                    [ngClass]="
                        getClass({
                            'flex flex-col h-screen px-10': true,
                            'justify-center items-center text-center':
                                block.alignment === 'center'
                        })
                    "
                >
                    <ng-container *ngFor="let row of block.structure">
                        <img
                            *ngIf="row.type === 'image'"
                            data-aos="fade-up"
                            data-aos-delay="300"
                            data-aos-duration="1000"
                            class="w-30 sm:w-50 mb-20 z-0"
                            [src]="row.image"
                        />
                        <div
                            *ngIf="row.type === 'text'"
                            data-aos="fade-up"
                            data-aos-delay="700"
                            data-aos-duration="1000"
                            class="text-white z-0 text-4xl sm:text-6xl font-medium"
                            [ngClass]="{
                                'font-extrabold': row.size === 'main-2'
                            }"
                        >
                            {{ row.text }}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="block.size !== 'main'">
                <div
                    [ngStyle]="{
                        'background-image': getImage(block.background)
                    }"
                    [ngClass]="block.background ? 'bg-center' : ''"
                >
                    <div
                        [ngClass]="
                            getClass({
                                'flex flex-row flex-wrap justify-center items-center px-10': true,
                                'py-20': block.join === undefined,
                                'pb-20': block.join === 'top',
                                'pt-20': block.join === 'bottom',
                                'backdrop-brightness-50 py-40': block.background
                            })
                        "
                    >
                        <div
                            [ngClass]="
                                getClass({
                                    'pr-0 sm:pr-20 lg:pr-40 w-full sm:w-1/2 lg:w-2/5 z-0':
                                        block.alignment === 'left',
                                    'flex flex-col justify-center items-center':
                                        block.alignment === 'center',
                                    'flex flex-1 flex-wrap justify-center sm:px-10 lg:px-40':
                                        block.alignment === 'spaced'
                                })
                            "
                        >
                            <ng-container *ngFor="let row of block.structure">
                                <!-- TEXT -->
                                <div
                                    *ngIf="row.type === 'text'"
                                    data-aos="fade-up"
                                    data-aos-once="true"
                                    [ngClass]="{
                                        'text-4xl font-bold':
                                            row.size === 'title',
                                        'text-2xl font-light':
                                            row.size === 'text',
                                        'text-white': block.background
                                    }"
                                >
                                    {{ row.text }}
                                </div>
                                <!-- BUTTON -->
                                <button
                                    *ngIf="row.type === 'button'"
                                    mat-stroked-button
                                    class="mt-3 text-white"
                                    [ngClass]="{
                                        'text-white': block.background
                                    }"
                                >
                                    <mat-icon
                                        svgIcon="arrow_right"
                                        [ngClass]="{
                                            'text-white': block.background
                                        }"
                                    ></mat-icon>
                                    {{ row.text }}
                                </button>
                                <!-- CARD LIST -->
                                <div
                                    *ngIf="row.type === 'cards'"
                                    class="flex flex-row flex-wrap justify-center pt-10"
                                >
                                    <fuse-card
                                        *ngFor="let card of row.list"
                                        data-aos="flip-up"
                                        data-aos-once="true"
                                        data-aos-anchor-placement="bottom-bottom"
                                        class="flex flex-col items-center max-w-80 w-full p-8 drop-shadow-sm hover:drop-shadow-xl transition duration-500 m-4"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let cardRow of card.structure
                                            "
                                        >
                                            <mat-icon
                                                *ngIf="cardRow.type === 'icon'"
                                                class="icon-size-16 drop-shadow-lg opacity-80 mb-5"
                                                [ngStyle]="{
                                                    color: cardRow.color
                                                }"
                                                [svgIcon]="cardRow.icon"
                                            >
                                            </mat-icon>
                                            <div
                                                *ngIf="cardRow.type === 'text'"
                                                class="text-center whitespace-pre-wrap"
                                                [ngClass]="{
                                                    'text-2xl font-semibold leading-tight':
                                                        cardRow.size ===
                                                        'title',
                                                    'text-secondary':
                                                        cardRow.size === 'text'
                                                }"
                                            >
                                                {{ cardRow.text }}
                                            </div>
                                        </ng-container>
                                    </fuse-card>
                                </div>
                                <!-- IMPACT NUMBERS -->
                                <ng-container
                                    *ngIf="row.type === 'impact-numbers'"
                                >
                                    <div
                                        class="text-center flex-1 p-10"
                                        *ngFor="let number of row.list"
                                    >
                                        <div
                                            class="text-9xl font-bold z-0 text-amber-400"
                                        >
                                            <span *ngIf="number.plus">+</span>
                                            <span
                                                [countUp]="number.value"
                                                [options]="countOptions"
                                            ></span>
                                        </div>
                                        <div class="text-3xl font-light z-0">
                                            {{ number.title }}
                                        </div>
                                    </div>
                                </ng-container>
                                <!-- DEPOSITIONS -->
                                <div
                                    *ngIf="row.type === 'depositions'"
                                    class="flex"
                                >
                                    <button
                                        class="mt-44"
                                        mat-icon-button
                                        (click)="
                                            tabs.selectedIndex =
                                                (row.list.length +
                                                    ((tabs.selectedIndex - 1) %
                                                        12)) %
                                                row.list.length
                                        "
                                    >
                                        <mat-icon
                                            svgIcon="heroicons_outline:chevron-left"
                                        ></mat-icon>
                                    </button>
                                    <mat-tab-group
                                        class="tab-no-header"
                                        #tabs
                                        dynamicHeight
                                        mat-align-tabs="center"
                                    >
                                        <mat-tab
                                            *ngFor="
                                                let dep of row.list;
                                                let i = index
                                            "
                                        >
                                            <fuse-card
                                                class="flex flex-col md:flex-row items-center justify-between max-w-80 md:max-w-160 w-full p-8 my-5 sm:mx-5 transition hover:drop-shadow-xl"
                                            >
                                                <img
                                                    [src]="dep.img"
                                                    class="w-40 md:mr-8 mb-8 md:mb-0 rounded-full object-cover"
                                                />
                                                <div
                                                    class="flex flex-col flex-auto justify-center prose"
                                                >
                                                    <div
                                                        class="text-lg italic leading-relaxed whitespace-pre-wrap"
                                                    >
                                                        {{ dep.text }}
                                                    </div>
                                                    <div
                                                        class="text-md font-medium text-primary mt-4"
                                                    >
                                                        {{ dep.author }},
                                                        <br />
                                                        {{ dep.role }}
                                                    </div>
                                                </div>
                                            </fuse-card>
                                        </mat-tab>
                                    </mat-tab-group>
                                    <button
                                        class="mt-44"
                                        mat-icon-button
                                        (click)="
                                            tabs.selectedIndex =
                                                (tabs.selectedIndex + 1) %
                                                row.list.length
                                        "
                                    >
                                        <mat-icon
                                            svgIcon="heroicons_outline:chevron-right"
                                        ></mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
