/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import "~aos/dist/aos.css";

.icon-stroke {
    background-color: rgb(100, 116, 139);
    mask: url(/assets/images/logo/logo-black.svg) no-repeat center / contain;
    -webkit-mask: url(/assets/images/logo/logo-black.svg) no-repeat center /
        contain;
}

.tab-no-header {
    .mat-tab-body-content {
        padding: 0 !important;
    }
    .mat-tab-header {
        display: none !important;
    }
}
