<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation
        class="bg-white print:hidden"
        [mode]="'over'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="false"
    >
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center h-20 pt-6 pb-8 px-8">
                <img
                    class="w-48"
                    src="assets/images/logo/logo-text.png"
                    alt="Logo image"
                />
            </div>
            <div
                *transloco="let t"
                class="pt-6 pb-8 px-8 font-semibold text-xl"
            >
                {{ t("Em breve") }}...
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="relative w-full min-w-0">
    <!-- Header -->
    <div
        class="fixed flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-20 z-49 print:hidden transition duration-500 lg:px-40"
        [ngClass]="{ 'bg-white shadow bg-card': scrolledFromTop }"
    >
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center mx-2 md:mr-8">
                <div class="hidden md:flex">
                    <img
                        [ngClass]="{ 'opacity-0': !scrolledFromTop }"
                        class="absolute w-52 transition duration-500"
                        src="assets/images/logo/logo-text.png"
                    />
                    <img
                        [ngClass]="{ 'opacity-0': scrolledFromTop }"
                        class="w-52 transition duration-500"
                        src="assets/images/logo/logo-text-white.png"
                    />
                </div>
                <img
                    [ngClass]="{ 'opacity-0': !scrolledFromTop }"
                    class="absolute md:hidden w-24 transition duration-500"
                    src="assets/images/logo/logo-short.png"
                />
                <img
                    [ngClass]="{ 'opacity-0': scrolledFromTop }"
                    class="flex md:hidden w-24 transition duration-500"
                    src="assets/images/logo/logo-short-white.png"
                />
            </div>
            <!-- Horizontal navigation -->
            <fuse-horizontal-navigation
                class="mr-2"
                [name]="'mainNavigation'"
                [inverted]="!scrolledFromTop"
                [navigation]="navigation.horizontal"
            ></fuse-horizontal-navigation>
        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <button
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon
                    class="transition duration-500"
                    [svgIcon]="'heroicons_outline:menu'"
                    [ngClass]="{ 'text-white': !scrolledFromTop }"
                ></mat-icon>
            </button>
            <div class="flex">
                <img
                    [ngClass]="{ 'opacity-0': !scrolledFromTop }"
                    class="absolute w-44 transition duration-500"
                    src="assets/images/logo/logo-text.png"
                />
                <img
                    [ngClass]="{ 'opacity-0': scrolledFromTop }"
                    class="w-44 transition duration-500"
                    src="assets/images/logo/logo-text-white.png"
                />
            </div>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <languages></languages>
            <!-- <fuse-fullscreen class="hidden md:block"></fuse-fullscreen> -->
            <!-- <search [appearance]="'bar'"></search> -->
            <!-- <shortcuts></shortcuts> -->
            <!-- <messages></messages> -->
            <!-- <notifications></notifications> -->
            <!-- <button
                class="lg:hidden"
                mat-icon-button
                (click)="quickChat.toggle()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:chat-alt-2'"></mat-icon>
            </button> -->
            <!-- <user></user> -->
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-between w-full pt-5 pb-2 px-4 md:px-12 z-49 border-t bg-card dark:bg-transparent print:hidden"
    >
        <!-- <img class="w-12" src="assets/images/logo/logo-black.svg" /> -->
        <div class="w-12 h-12 icon-stroke"></div>
        <div>
            <a
                mat-icon-button
                href="https://www.instagram.com/construindofuturoglobal/"
                target="_blank"
            >
                <mat-icon svgIcon="feather:instagram"></mat-icon>
            </a>
            <a
                mat-icon-button
                href="https://www.instagram.com/construindofuturobr/"
                target="_blank"
            >
                <mat-icon svgIcon="feather:instagram"></mat-icon>
            </a>
            <a
                mat-icon-button
                href="https://www.facebook.com/ConstruindoFuturoCF"
                target="_blank"
            >
                <mat-icon svgIcon="feather:facebook"></mat-icon>
            </a>
            <a
                mat-icon-button
                href="https://www.youtube.com/channel/UCKDey5SL-7-wPaCRwKCS-NA"
                target="_blank"
            >
                <mat-icon svgIcon="feather:youtube"></mat-icon>
            </a>
        </div>
    </div>
    <div
        class="relative flex flex-0 items-center justify-center w-full pb-5 md:pb-7 pt-2 z-4 bg-card dark:bg-transparent print:hidden"
    >
        <span class="font-medium text-secondary bg-secondary">
            Construindo o Futuro &copy; {{ currentYear }}
        </span>
    </div>
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
